body {
  background-color: wheat;
  font-family: Roboto, sans-serif;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

h1 {
  font-weight: 800;
}

.myTextField .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: rgb(17, 191, 214);
}

.myTextField:hover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: rgb(17, 191, 214);
}

.myTextField
  .MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: rgb(17, 191, 214);
}

.main {
  padding-top: 10px;
  align-items: center;
  text-align: center;
}
.taskCards {
  margin-top: 10px;
}

.task {
  border: 2px solid rgb(17, 191, 214);
  text-align: center;
  margin: 2px 20px 2px 20px;
  /* background-color: rgba(0, 0, 0, 0.151); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.808);
  display: flex;
  border-radius: 20px;
  margin-bottom: 20px;
}

.removeBtn {
  margin-left: auto;
  display: flex;
}

/* top right bottom left */
